#  pip install -r requirements.txt
python-dotenv ==1.0.0
torch == 2.0.1
transformers == 4.31.0
seqeval ==1.2.2
tqdm == 4.66.1
import_ipynb ==0.1.4
kss == 4.5.4
mysql-connector-python == 8.1.0

# TSA
kiwipiepy == 0.15.2
pymysql == 1.1.0
jamo == 0.4.1

